venv/

assets/tilesets/0x72_DungeonTilesetII_v1.7/0x72_DungeonTilesetII_v1.7/*.txt
assets/tilesets/0x72_DungeonTilesetII_v1.7/0x72_DungeonTilesetII_v1.7/*.md

__pycache__/
core/algorithms/__pycache__/
core/events/__pycache__/
core/__pycache__/
core/map/__pycache__/
core/*.pyc

__pycache__/